body {
    background-color: white;
}

.logo {
    display: block;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
}

.search-bar {
    display: block;
    margin-top:30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #b1bbb5;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #dfe1e5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b1bbb5;
}